<html>
<head>
    <title>Africa</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
      body{
        padding-top: 50px;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixes-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="~navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Big Cats</a>
        </div>
           <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li><a href="/">Home Page</a></li>
             <li class="active"><a href="Continents/africa">Africa</a></li>
             <li><a href="asia">Asia</a></li>
             <li><a href="america">America</a></li>
             <li><a href="prehistoric">Prehistoric Cats</a></li>
            </ul>
            </div>
         </div>
       </nav>

        <div class="container">
             <h1>Big Cats of Africa</h1>
             <p class="lead">Out of the 3 continents, Africa is probably the most famous for its Big Cats. 3 of them live here and they all share the same habitat.</p>
             <h2>The African Lion (Panhera Leo)</h2>
             <p class="lead">The Lion is the second largest big cat after the Tiger but is argubly the most popular, well known and famous big cat.</p>
             <p class="lead">Main Characteristics: They have a body length of between 5.5 - 8.25 feet long and can weigh up to 250 kgs.
                             Male Lions have a very distincitve mane, which gave them the title "King of the Jungle" or "King of the Beasts".
                             Unlike other cats, Lions live in sociable groups called "Prides which is led by a male/males and comprised of females (Lionesses) an their cubs</p>
             <p class="lead">Habitat: Lions roam the open savannah grasslands of Africa, but can also be found in deserts.</p>
             <p class="lead">Diet: They are Africa's top predators and prey primary on Zebra, Wildebeest, Buffalo, Antelope and Warthogs. They will also take Giraffes, Hippos and                                      even young Elephants.</p>
             <p class="lead">Rivals and Predators: The arch enemy of Lions are Spotted Hyenas, but they also have competition with Crocodiles and the other big cats, the Cheetah and                                   Leopard. Humans are the main predators of Lions due to poaching, but weak or injured ones can be taken by Hyenas and Crocodiles</p>
        </div>
        
        <div class="container">
             <h2>The Cheetah (Acinonyx Jubatus)</h2>
             <p class="lead">The Cheetah is well known as the fastest land animal on land, reaching speeds of up to 70 mph in 1 run.</p>
             <p class="lead">Main Characteristics: They have a body length of 3.5 - 5 feet long and weigh up to 72 kgs.
                             Cheetahs are more slender in  contrast to other big cats, as they are built for speed instread of power.
                             There are also "King Cheetahs" that have a blotched appearance to their coat with striped and loops</p>
             <p class="lead">Habitat: Cheetahs live in savannah and  scrub grasslands, and deserts</p>
             <p class="lead">Diet: Cheetahs mainly prey on small antelope, especially Gazelles and Impala. When hunting together can also take Wildebeest, Zebra and Ostrches</p>
             <p class="lead">Rivals and Predators: Cheetahs (especially cubs) are always at risk of  being killed by larger predators like Lions Hyenas and Leopards. Only 50% of Cheetah                                      cubs survive their first year. Humans will also porach them like other big cats.</p>
        </div>

        <div class="container">
             <h2>The African Leopard (Panthera Pardus pardus)</h2>
             <p class="lead">The Leopard is the most distributed of the 3 African Big Cats as well as the most solitary.</p>
             <p class="lead">Main Characteristics: They have a body length of 3 - 6.25 feet and weight up to 90 kgs.
                             Leopards are vary agile climbers and spend more time in the trees than any other big cat in the world.
                             They are also perhaps the most accomplished stalker of all the big cats, finding all sorts of places to hide</p>
             <p class="lead">Habitat: Leopards inhabit a variety of habitats in Africa including savannah, deserts, jungles and mountains</p>
             <p class="lead">Diet: Leopards are not fussy eaters but mainly prey on Antelope, Warthogds and Primate slike Baboons. They will however take prey far larger then themsleves                               including Buffalo and Giraffe calves</p>
             <p class="lead">Rivals and Predators: Leopards have competition with Lions, Hyenas and Crocodiles, which are all capable of killing Leopards of all ages. Their main predators                             however are humans</p>

        </div>
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

