<html>
<head>
    <title>Asia</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
      body{
        padding-top: 50px;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixes-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="~navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Big Cats</a>
        </div>
           <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li><a href="/">Home Page</a></li>
             <li><a href="africa">Africa</a></li>
             <li class="active"><A href="Continents/asia">Asia</a></li>
             <li><a href="america">America</a></li>
             <li><a href="prehistoric">Prehistoric Cats</a></li>
            </ul>
            </div>
         </div>
       </nav>

        <div class="container">
             <h1>Big Cats of Asia</h1>
             <p class="lead">Asia is home to the most subspecies of big cat species and they are found in amost every part.</p>
             <h2>The Tiger (Panhera Tigris)</h2>
             <img src="{{ url_for('static', filename="img/bengaltiger.JPG") }}"/>
             <img src="{{ url_for('static', filename="img/siberiantiger.JPG") }}"/>
             <p class="lead">The Tiger is the largest of the big cats and there are 9 subspecies including the Bengal (most well known), Siberian (biggest) and Sumatran (smallest).
             <p class="lead">Main Characteristics: They have a body length of between 4.5 - 9.25 feet long and can weigh up to 300 kgs depending on which species.
                             All Tigers are an orange/brown colour with black stripes, but there are also rare White Tigers.
                             Unlike most cats, the Tiger loves the water and they ar every good swimmers.<p>
             <p class="lead">Habitat: Tigers inhabit a ride range of habitats including woodland forests, rainforests and snowy mountains.</p>
             <p class="lead">Diet: Tigers are apex predators wherever they are and feed primary on Deer, and Wild Boar. They will also take Water Buffalo, Gaur, Bears, Crocodiles and even                             young Rhinos and Elephants.</p>
             <p class="lead">Rivals and Predators: Tigers have competition with Dholes, Wolves, Bears and Crocodiles, which are all capable of killing Tigers. Humans are their                                         main predators due to poaching and also because some Tigers will actively prey on Humans and they have caused some Tigers to become extinct</p>
        </div>
        
        <div class="container">
             <h2>The Leopard (Panthera Pardus)</h2>
             <img src="{{ url_for('static', filename="img/indianleopard.JPG") }}"/>
             <img src="{{ url_for('static', filename="img/amurleopard.JPG") }}"/>
             <p class="lead">There are a total of 7 Leopard subspecies living in Asia including the Indian, Sri Lankan and Amur.</p>
             <p class="lead">Main Characteristics: They have a body length of 3.5 - 5 feet long and weigh up to 72 kgs, dpedning on which species.
                             Like African Leopards, these ones are all great climbers and accomplisheds stalkers, even raiding human towns for food.
                             Some Leopards can be born  black and are known to people as "Black Panthers".
             <p class="lead">Habitat: Asian leopards inhabit jungles, woodland forests, mountains desrts and even around human towns.</p>
             <p class="lead">Diet: Asian Leopards will prey on almost anthing including Deer, Antelope, Monkeys, Wild Boars, Buffalo calves and even Bear cubs and small Crocodiles.</p>
             <p class="lead">Rivals and Predators: Leopards face competiton with almost all other predators in Asia including Tigers, Wild Dogs, Bears and Crocodiles.                                                  Due to them preying livestock, they are killed by Humans, which have caused some Leopards like the Amur Leopard to become Critically Endangered.</p>
        </div>

        <div class="container">
             <h2>The Asiatic Lion (Panthera Leo)</h2>
             <img src="{{ url_for('static', filename="img/asiaticlion.JPG") }}"/>
             <img src="{{ url_for('static', filename="img/asiaticlioness.JPG") }}"/>
             <p class="lead">The African Lion's smaller and more endagered cousin.</p>
             <p class="lead">Main Characteristics: They have a body length of 5.5 - 8.25 feet and weight up to 250 kgs.
                             Male Asiatic Lions have a smaller mane than their African cousins.
                             They also live in prides like the African species.</p>
             <p class="lead">Habitat: Asiatic Lions ar eonly found in the woodlands of the Gir Forest National Park in India.</p>
             <p class="lead">Diet: Deer, Nilgai, Buffalo and WIld Boar are the main prey of Asiatic Lions</p>
             <p class="lead">Rivals and Predators: Not kmuch is knpown about competition with other predators as Asiatic Lions wiold never meet Tigers, but Humans have caused these cats                               to become Endangered to due habitat destruction and paching</p>

        </div>

        <div class="container">
             <h2>The Snow Leopard (Panthera Uncia)</h2>
             <img src="{{ url_for('static', filename="img/snowleopard.JPG") }}"/>
             <img src="{{ url_for('static', filename="img/snowleopard2.JPG") }}"/>
             <p class="lead">The white camouflages big cat that is sometimes almost impossible to see.</p>
             <p class="lead">They have a body length of 3.25 - 4.25 feet and weigh up to 75 kgs.
                             Their fur is grey in colour with blakish spots, which camouflage them on rocky sloped.
                             They are amazing rock climbers and jumpers, able to leap over gaps</p>
             <p class="lead">Habitat: Snow Leopard live in snowy mountain habitats in Asia such as the Himalayas at altitudes of 2000-6000 metres</p>
             <p class="lead">Diet: Snow Leopoard prey mainly on Blue Sheep, Ibex, Makhorand Tahr. They will also takje young Yaks, Birds and Red Pandas.</p>
             <p class="lead">Rivals and Predators: Snow Leopards main rivals are Wolves, which are capable of killing adults and cubs. Humans are the main threat due to poaching                                       and the illegal trade of their skin</p>
            
        </div>
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

