<html>
<head>
    <title>Big Cats of the World</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
      body{
        padding-top: 50px;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixes-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="~navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Big Cats</a>
        </div>
           <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#">Home Page</a></li>
             <li><a href="{{ url_for('continent', name='continents') }}">Continents</a></li> 
             <li><a href="prehistoric">Prehistoric Cats</a></li>
           </ul>
           </div>
         </div>
       </nav>

        <div class="container">
             <h1>Big Cats of Planet Earth</h1>
             <h2>Are you a fan of Lions, Tigers and other Big Cats? Then this is the site for you.</h2>
             <p class="lead">There are 7 main Big Cats around ther world, they are found on the continents of Africa, Asia and America.</p>
             <p class="lead">Big Cats are 1 of the 2 great tribes of carnivores, the other being Wild Dogs. They are all apex predators in their range.</p>
             <p class="lead">This site will allow ou to find out information on Lions, Tigers, Cheetahs, Leopards, Jaguars, Snow Leopards and Pumas. Find out about                                         each cat's charactersitics, habitat, diet, competing with other predators and their relationship with the big cat's greatest enemy: Humans.</p>
             <p class="lead">You will also find information on some big cats that lived in prehistoric times long before both the present day and after the extinction of                                   the Dinosaurs.</p>
             <img src="{{ url_for('static', filename="img/7cats.JPG") }}"/>
          </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
